//! COLORS

$landing-color: #fa7070;
$green-color: #00cdac;
$white-color: #f5f5f5;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  font-size: 62.5%;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: sans-serif;
  font-family: "Raleway", sans-serif;

  overflow-x: hidden;

}

.first-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;

  background-color: $landing-color;
}

.nav {

  padding: 0px 50px;
  height: 15%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-60px);
  opacity: 0;

  &__logo {

    height: 100%;
    width: 120px;

    display: flex;

    & > img {

      width: 100%;
    }
  }

  &__button{
    width: 40px;
    height: 40px;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    // display: none;


    &-line{
      width: 30px;
      height: 2.5px;
      background-color: #434343;
      background-color: $white-color;
    }

   

    
  }

  &__links {

    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    display: none;

    &--l,
    &--l:active,
    &:focus {
      font-size: 1.5rem;
      padding: 8px 25px;

      border: none;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      color: $white-color;
      font-weight: 700;
      cursor: pointer;

      &:nth-child(1) {
        border-bottom: 1.5px solid #ff9a8b;
      }

      &:nth-child(2) {
        margin: 0px 40px;
      }
    }

    &--events {
   
      background-color: #ff9a8b;

      background-image: linear-gradient(
        90deg,
        #ff9a8b 0%,
        #ff6a88 55%,
        #ff99ac 100%
      );

      transition: 0.5s;
      background-size: 200% auto;
      color: $white-color;



      border-radius: 5px;
      box-shadow: rgba(30, 30, 30, 0.5) 0px 2px 8px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;


      &:hover {
        transform: translateY(-2px);
        background-position: right center; 
        color: $white-color;
        text-decoration: none;

      }
      &:active {
        transform: translateY(1px);
        box-shadow: rgba(30, 30, 30, 0.4) 0px 2px 8px 0px;
      }
    }
  }
}

.event {
  width: 70%;
  height: 60.5%;


  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(50px);

  // box-shadow: 0 8px 32px 0 rgba(61, 64, 105, 0.25);
  // backdrop-filter: blur(6px);
  // -webkit-backdrop-filter: blur(6px);
  // border-radius: 10px;
  // border: 1px solid rgba(255, 255, 255, 0.18);

  position: relative;



  &-background{
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 11;
    box-shadow: 0 8px 32px 0 rgba(61, 64, 105, 0.25);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    // opacity: .1;

    

  }

  &__container {
    width: 92.5%;
    height: 83.5%;
    border-radius: 10px;
    position: relative;
    z-index: 12;
    opacity: 1;



    display: flex;
    flex-direction: column;

    border: 3px solid #ff9a8b;
    background: rgba( 255, 255, 255, 0.02 );
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


    &--info {

      height: 30%;
      border-radius: 10px 10px 0px 0px;
      display: flex;
      position: relative;
      z-index: 5;
      // border: 1px solid red;
      // border: 1px solid blue;


      &_name {
        height: 100%;
        width: 65%;
        padding-left: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 5;
        &-img {
          width: 55px;
          height: 55px;
          padding: 10px;
          border-radius: 999px;
          background-color: $white-color;
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 1px solid red;

          & > img {
            position: absolute;
            width: 37.5px;
            height: 37.5px;
          }
        }

        &-instagram {
          color: $white-color;
          font-weight: 800;
          font-size: 1.3rem;

          & > h5 {
            font-weight: 800;
            font-size: 1.5rem;
          }

          & > h3 {
            font-weight: 800;
            font-size: 1.7rem;
          }
        }
      }

      &_id {
        // border: 1px solid blue;
        width: 35%;
        height: 80%;
        // border-radius: 0px 10px 0px 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
        color: $white-color;
        font-size: 2.5rem;
        background: #fe9a8b;
        letter-spacing: 1px;
        text-transform: uppercase;

        clip-path: polygon(0 -1%, 103% -1%, 103% 103%, 27.5% 103%);       

      }

      &_event{
        // border: 1px solid blue;
        height: 70%;
        display: flex;
        // border: 1px solid red;

        &-left{
          padding-left: 40px;
          width: 50%;
          overflow: scroll;

          
          border-right: 1px solid #fe9a8b;
          display: flex;
          // border: 1px solid blue;
          flex-direction: column;
          gap: 20px;
          justify-content: center;
          // align-items: center;

          &-h5{
            color: $white-color;
            text-transform: uppercase;
            font-size: 1.3rem;
            letter-spacing: 1.5px;
            font-weight: 300;
           
          }

          &-h2{

            text-transform: uppercase;
            font-size: 2.75rem;
            background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
            background-image: conic-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
            background-size: 100%;  
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;


            &_second{
              font-size: 2.2rem;
              color: red;
            }

            &_third{
              font-size: 1.9rem;
              color: red;
            }
    
          }
        
        }

        &-right{
          border-left: .5px solid #fe9a8b;
          // border-top: 1px solid #fe9a8b;


          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: scroll;

          &_content{
            padding: 0px 40px;
            color: $white-color;
            font-size: 1.5rem;



          }
        }
      }
    }
  }
}

//! BLOB

.blob {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  border: none;
  left: -65px;
  bottom: -40px;
  z-index: 1;
  // filter: blur(5px);
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  filter: blur(4px);
  // opacity: .8;s

  &:nth-child(4) {
    width: 115px;
    height: 115px;
    left:400px;
    top: 45px;
    background-image: linear-gradient(
      to right,
      #f78ca0 0%,
      #f9748f 19%,
      #fd868c 60%,
      #fe9a8b 100%
    );
    background-blend-mode: multiply, multiply;
    opacity: 1;
    z-index: 1 ;

  }

  &:nth-child(3) {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(120deg, hsl(217, 96%, 81%) 0%, hsl(199, 88%, 87%) 100%);

    left: 750px;
    bottom: -30px;
    // opacity: .9;
    z-index: 1  ;

  }
}

// .s{
//   background: red;
//   top: -20px;
//   left: 400px;

// }

.second-section {
  width: 100%;
  background-color: rgb(46, 46, 46);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  // gap: 50px;
  // border: 1px solid red;

}

.story{
  width: 700px;
  // height: 45%;
  
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 4;



  & > p{
    margin-top: 50px;
    font-size: 2rem;
    font-weight: 600;
    color: $white-color;
    position: relative;
    // filter: blur(10);

  }
}

.team{

  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 150px;
  // border: 1px solid blue;

  &__cards{
    margin-top: 75px;
    // border: 1px solid red;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0px 100px;

    &-con{
      width: 300px;
      height: 425px;
      // border: 1px solid red;
      border-radius: 10px;
      position: relative;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      color: $white-color;
      text-align: center;
      transform: translateY(30px);
      opacity: 0;

      &-name{
        position: absolute;
        bottom: 0;
        z-index: 9999;
        width: 100%;
        height: auto;
        background-color: #8ec5fc;
        background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
        z-index: 4;
        height: 52px;
        border-radius: 0px 0px 10px 10px;
        display: flex;
        justify-content: center;
        align-items:center;
        overflow: hidden;
        // margin-bottom: 10px;

        & > a {
          width: 25px;
          position: relative;
          z-index: 10;
          display: flex;
          cursor: pointer;


          
        
        }


      
      & > h4 {
        color: black;
        font-weight: 300;
        letter-spacing: 2.5px;
        position: relative;
        z-index: 5;
        font-size: 2rem;
        text-transform: uppercase;
        // margin-bottom: 5px;

      }

      }

      & > img {
        overflow: hidden;
        width: 100%;
      // border-radius: 10px 10px 0px 0px;
      position: relative;
      z-index: 1;
      transition: all .3s ease;


      &:hover{
        transform: scale(1.01);

      }
      }

 

   
    

      &--overlay{
        border-radius: 10px;

        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        // background: rgb(131,58,180);
        background: linear-gradient(0deg, #c4c3fb 15%, transparent 50%);
        // background: linear-gradient(0deg, #fe9a8b 12.5%, transparent 50%);

      }
    }
  }


}

.third-section{
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // background: rgba( 142, 197, 252, .75);
  // background: rgba(255, 209.678, 138.298, 1);


  &_upcoming{
    width: 100%;
    // height: 500px;
    // border: 1px solid red;
    text-align: center;
    margin-top: 50px;

    &-events{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      flex-wrap: wrap;
      width: 100%;
      // height: 500px;
      // border: 1px solid blue;

      &-card{
        margin: 50px 0px;
        width: 550px;
        height: 300px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transform: translateX(150px);
        opacity: 0;


        // background: rgba( 142, 197, 252, 0.05 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.27 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        // border: 1px solid rgba( 255, 255, 255, 0.18 );

    
      
      
        &--info{
          height: 30%;
          border-radius: 10px 10px 0px 0px;
          display: flex;
          position: relative;
          z-index: 5;
          // border: 1px solid red;


          &_name {
            height: 100%;
            width: 65%;
            padding-left: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            position: relative;
            z-index: 5;
            // border: 1px solid blue;

            &-img {
              width: 45px;
              height: 45px;
              padding: 10px;
              border-radius: 999px;
              background-color: $white-color;
              display: flex;
              justify-content: center;
              align-items: center;

    
              & > img {
                position: absolute;
                width: 30px;
                // height: 35.5px;
                
              }
            }
    
            &-instagram {
              color: #434343;
              font-weight: 800;
              font-size: 1.5rem;


              text-align: start;
    
              & > h5 {
                font-weight: 800;
              }
    
              & > h3 {
                font-weight: 800;
                font-size: 1.3rem;
              }
            }
          }
    
          &_id {
            // border: 1px solid blue;
            width: 35%;
            height: 80%;
            // border-radius: 0px 10px 0px 0px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 10px;
            color: $white-color;
            font-size: 1.5rem;
            background: #c4c3fb;
            letter-spacing: 1px;
            text-transform: uppercase;
    
            clip-path: polygon(0 -1%, 103% -1%, 103% 103%, 27.5% 103%);
    
            
            
          }
          
          &_event{
            // border: 1px solid blue;
            height: 70%;
            display: flex;
            // border: 1px solid red;
            text-align: start;
    
            &-left{
              padding-left: 40px;
              width: 50%;
              overflow: scroll;
    
              
              border-right: 1px solid #c4c3fb;
              display: flex;
              // border: 1px solid blue;
              flex-direction: column;
              gap: 20px;
              justify-content: center;
              // border: 1px solid blue;
              align-items: flex-start;
    
              &-h5{
                // color: $white-color;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 1.5px;
                font-weight: 300;
               
              }
    
              &-h2{
    
                text-transform: uppercase;
                font-size: 1.25rem;
                // background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
                // background-image: conic-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
                // background-size: 100%;  
                // -webkit-background-clip: text;
                // -moz-background-clip: text;
                // -webkit-text-fill-color: transparent; 
                // -moz-text-fill-color: transparent;
    
    
                
        
              }
            
            }
    
            &-right{
              border-left: .5px solid #fe9a8b;
              // border-top: 1px solid #fe9a8b;
    
    
              width: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: scroll;
    
              &_content{
                padding: 0px 40px;
                // color: $white-color;
                font-size: 1rem;
    
    
    
              }
            }
          } 
        }
      }
    }
  }
}

.footer{
  background: #434343;
  color: $white-color;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px 30px 0px;

  &_con{
    width: 60%;
    display: flex;
    justify-content: space-between;
    // border: 1px solid blue;

    &--left{
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      justify-content: space-between;


      &-logo{
        font-size: 3rem;
        letter-spacing: 2px;
        font-weight: 800;
        background-image: linear-gradient(62deg, hsl(22, 94%, 74%) 0%, hsl(43, 90%, 69%) 100%);
        background-size: 100%;  
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
      }

      &-copyright{
        font-size: 1rem;
        letter-spacing: 2px;
        font-family: sans-serif;

      }
    }

    &--right{
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      color: #a6a6a6;
      font-size: 1.7rem;
      font-weight: 300;

      & > h4 {
        font-weight: 300;
        margin-bottom: 5px;
      }


      & > a, & > a:active, & > a:visited {
        color: $white-color;
        text-decoration: none;


        &:hover{
          border-bottom: .2px solid $white-color;
          
        }
      }
    }
  }
}

.title{

    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-image: linear-gradient(62deg, hsl(22, 94%, 74%) 0%, hsl(43, 90%, 69%) 100%);
    background-size: 100%;  
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    transform: translateY(60px);
    opacity: 0;

  

    &:nth-child(1){
      background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    }
    &:nth-child(2){
      background-image: linear-gradient(to right, #434343 0%, black 100%);
      // border: 1px solid red;
    }
}

.sub-title{
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: translateY(60px);
  opacity: none;
  // color: red;
}


.vibrant{

  background-image: linear-gradient(62deg, hsl(22, 94%, 74%) 0%, #F7CE68 100%);
    
  background-size: 100%;  
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;

}

#sw-js-blob-svg{
  position: absolute;
  z-index: 0;
  width: 175px;
  bottom: -50px;
  left: -200px;
  filter: blur(4px);
}



#sw-js-blob-svg-s{
  position: absolute;
  z-index: 0;
  width: 175px;
  top: 50px;
  right: -200px;
  filter: blur(4px);
}


.line{
  position: absolute;
  width:900px;
  left: 0;
  top: 300px;
}

.s-id{
  background: #F7CE68;
}

.s-left{
  border-right: 1px solid #F7CE68;
}

.p-card{
  background: #434343;
}

//! past INVITES

.p-instagram{
  color: $white-color;
}
.p-info{
  color: $white-color;
}

.p-left{
  border-right: 1px solid $landing-color;

  &_s{
    // border-right: 1px solid $green-color;
    border-color: $green-color;
  }

  &_th{
    // border-right: 1px solid $green-color;
    border-color: #8ec5fc;
  }
}

.p-id{
  background: $white-color;
  background: $landing-color;
  // color: #434343;

  &_s{
    background: $green-color;
  }

  &_th{
    background: #8ec5fc;
  }
}



.story-p{
  transform: translateY(80px);
  
  opacity: 0;
}

.show{
  opacity: 1;
  transform: translate(0px);
  transition: all 1s ease;
}



